@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

body {
	font-family: 'Cabin';
	background: #fff;
	font-weight: 400;
	font-size: 16px;
	overflow-x: hidden;
	/* Adjust font size */
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
a,
button,
input[type="submit"] {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
a,
a:hover,
a:focus {
	color: #4b8edf;
	text-decoration:none;
}
img {
  	display:inline-block !important;
}
h1.hero, h2.hero, h3.hero, h4.hero, h5.hero {
	color: #333;
	font-weight: 700;
	hyphens: auto;
}
h1.hero {
	font-size: 36px;
	margin: 0 0 20px 0;
	line-height: 1.2;
}
h2.hero {
	font-size: 36px;
	margin: 0 0 20px 0;
	line-height: 1.5;
}
h3.hero {
	font-size: 18px;
	margin: 0 0 15px 0;
	line-height: 1.5;
}
.landing-hero p {
	font-size: 1.000em;
	font-weight: 400;
	color: #333;
	margin: 0 0 15px 0;
	line-height: 2;
}
.landing-hero p strong {
	font-weight: 700;
}
.landing-hero p a,
.landing-hero ul li a {
	color: #4b8edf;
	text-decoration: none;
}
.landing-hero ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.landing-hero ul li {
	font-size: 1.000em;
	font-weight: 400;
	margin-bottom: 10px;
	position: relative;
}
p a:hover,
p a:focus,
ul li a:hover,
ul li a:focus {
	color: #4b8edf;
	text-decoration: underline;
}

/* --------------------------------- Form Styles ----------------------------------*/

.landing-hero .form {
	width: 100%;
	text-align: left;
}
.form input[type=text],
.form input[type=tel],
.form input[type=email],
.form input[type=password],
.form select,
.form textarea {
	width: 100%;
	margin-bottom: 15px;
	border-radius: 5px;
	padding: 15px 20px;
	border: #e5e5e5 solid 1px;
	background: #fff;
	color: #333;
	font-size: 1.000em;
	transition: 0.5s;
	box-shadow: rgba(19,19,19,0.04) 0 3px 10px;
}
.form input[type=text]:focus,
.form input[type=tel]:focus,
.form input[type=email]:focus,
.form input[type=password]:focus,
.form select:focus,
.form textarea:focus {
	box-shadow: none;
	border-color: #b3b3b3;
}
section.landing-hero {
	padding: 100px 0;
}
.landing-hero .container-fluid {
	padding: 0 50px;
}
.landing-hero {
	background: url(../img/hero-img.jpg) no-repeat 0 0 / cover;
	height: 100vh;
}
.landing-hero .search-box {
	padding: 50px;
	border-radius: 6px;
	box-shadow: rgba(0,0,0,0.05) 0 20px 50px;
	background: #fff;
}
.landing-hero .search-box h3 {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.landing-hero .search-form {
	margin-bottom: 30px;
}
.landing-hero .search-form input[type=text] {
	background: url(../img/icons/search-icon.svg) no-repeat 20px 17px #fff;
	background-size: 18px;
	padding-left: 55px;
}
.btn {
	background: #4b8edf;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	padding: 10px 40px;
	border-radius: 4px;
}
.btn:hover,
.btn:focus {
	background: #5299f0;
	color: #fff;
}
.search-form .btn {
	min-width: 50%;
}
.categories,
.categories li,
.categories li a {
	display: inline-block;
}
.categories li {
	float: left;
	margin: 0;
}
.categories li a {
	font-size: 18px;
	font-weight: 700;
	color: #333;
	background: #f5f5f5;
	padding: 10px 40px;
	border-radius: 4px;
	min-width: 216px;
	margin: 0 10px 10px 0;
	float: left;
	padding-left: 50px;
	position: relative;
}
.categories li a:hover,
.categories li a:focus {
	background: #e3e3e3;
	color: #333;
	text-decoration: none;
}
.categories li:first-child a:before {
	content: "";
	background: url(../img/icons/star-icon.svg) no-repeat  0 0 / 100%;
	position: absolute;
	display: block;
	width: 22px;
	height: 21px;
	left: 18px;
	top: 12px;
}
.categories li:nth-child(2) a:before {
	content: "";
	background: url(../img/icons/health-icon.svg) no-repeat  0 0 / 100%;
	position: absolute;
	display: block;
	width: 22px;
	height: 19px;
	left: 18px;
	top: 14px;
}
.categories li:nth-child(3) a:before {
	content: "";
	background: url(../img/icons/beauty-icon.svg) no-repeat  0 0 / 100%;
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	left: 18px;
	top: 12px;
}
.categories li:last-child a:before {
	content: "";
	background: url(../img/icons/drink-icon.svg) no-repeat  0 0 / 100%;
	position: absolute;
	display: block;
	width: 22px;
	height: 21px;
	left: 18px;
	top: 12px;
}
.card {
	border: none;
	border-radius: 6px;
	box-shadow: rgba(18,18,18,0.1) 0 3px 8px;
	padding: 0;
	position: relative;
	margin-bottom: 20px;
}
.card img {
    display: block;
    width: auto;
    min-width: 100%;
    height: 380px;
    min-height: auto;
    object-fit: cover;
    z-index: 1;
	border-radius: 6px;
}
.card-text {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 3;
}
.card-text h3 {
	color: #fff;
	text-align: center;
	line-height: 1;
	padding: 0 50px;
	margin-bottom: 20px;
}
.card-grad {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 2;
    background-image: -moz-linear-gradient(0deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.00) 20%);
    background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.00) 20%);
    background-image: linear-gradient(0deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.00) 20%);
	border-radius: 6px;
}
.card-actions {
	opacity: 0.7;
	position: absolute;
	display: block;
	border: none;
}
.quick-view {
	left: 20px;
	background: url(../img/icons/eye-icon.svg) no-repeat 0 0 / 100%;
	width: 22px;
	height: 14px;
	bottom: 20px;
}
.add-fav {
	right: 20px;
	background: url(../img/icons/heart-icon.svg) no-repeat 0 0 / 100%;
	width: 20px;
	height: 18px;
	bottom: 19px;
}
.card-link:hover .card-actions {
	opacity: 1;
}
.more-link {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	margin: 10px 0 0;
}
.more-link i {
	margin: -1px 0 0 10px;
	vertical-align: middle;
}
.more-link:hover,
.more-link:focus {
	color: #5299f0;
}


/* Responsive STYLES */


/* /////////////////////////////////////////////////////////    1199px     \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width:1199px) {
	


}
	
/* /////////////////////////////////////////////////////////    991px     \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width:991px){
		
	
	
}

/* /////////////////////////////////////////////////////////    767px     \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width:767px){

	.container-fluid {
		padding: 0 30px;
	}
	.search-form .btn {
		width: 100%;
	}
	
}

/* /////////////////////////////////////////////////////////    575px     \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width:575px){


	.container-fluid {
		padding: 0 15px;
	}
	.search-box {
		padding: 50px 30px;
	}
	.landing-hero {
		height: auto;
	}

}

/* /////////////////////////////////////////////////////////    480px     \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width:480px){

	

}